<div id="wrapper" class="animate">
  <nav class="navbar header-top fixed-top navbar-expand-lg  navbar-dark bg-dark">
    <span class="navbar-toggler-icon leftmenutrigger"></span>
    <a class="navbar-brand" href="#">LOGO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav animate side-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="cargarTabs()">Nueva Tab</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid container-full-height">
    <div class="row row-full-height">
      <div class="col-sm-6 col-md-6 col-full-height col-vertical-height login-form">
        <div class="col-vertical-top">
          <form class="form-horizontal justify-content-center" role="form">
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link" id="nav-home-tab0" data-toggle="tab" href="#nav-home0" role="tab"
                  aria-selected="true">Pestaña 1</a>
                <a *ngFor="let i of arrayTabs" class="nav-item nav-link" id="nav-home-tab{{i+1}}" data-toggle="tab"
                  href="#nav-home{{i+1}}" role="tab" aria-selected="true">Pestaña {{i+1}}</a>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active justify-content-center" id="nav-home0" role="tabpane0"
                aria-labelledby="nav-home-tab">
                <br>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <input type="file" class="btn btn-outline-secondary form-control-file"
                      (change)="fileChanged($event)">
                    <button class="btn btn-outline-primary" (click)="uploadDocument(0)" type="button">Cargar
                      Doc</button>
                    <button class="btn btn-outline-success" (click)="enviar(textArea.value)"
                      type="button">Analizar</button>
                  </div>
                </div>
                <textarea #textArea id="textArea0" style="width: 100%; height: 300px;"></textarea>
              </div>
              <div *ngFor="let i of arrayTabs" class="tab-pane fade show" id="nav-home{{i+1}}" role="tabpanel"
                aria-labelledby="nav-home-tab">
                <br>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <input type="file" class="btn btn-outline-secondary form-control-file"
                      (change)="fileChanged($event)">
                    <button class="btn btn-outline-primary" (click)="uploadDocument(i+1)" type="button">Cargar
                      Doc</button>
                    <button class="btn btn-outline-success" (click)="enviar(textArea.value)"
                      type="button">Analizar</button>
                  </div>
                </div>
                <textarea #textArea id="textArea{{i+1}}" style="width: 100%; height: 300px;"></textarea>
              </div>
            </div>
          </form>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="hidden-xs col-sm-6 col-md-6 col-full-height login-main-content">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="content-box">
              <br>
              <br>
                  <img src="http://demo.wpcrunchy.com/simplybiz/wp-content/uploads/sites/8/2012/12/48_settings.png" class="content-box-icon" alt="Icon">
              <h3 class="content-box-title">Traductor</h3>
              <div class="content-box-text">
                <textarea #textArea id="textAreaTraduccion" style="width: 100%; height: 300px;"></textarea>
              </div>
            </div>
          </div>
          <div class="col-md-10 col-md-offset-1">
            <div class="content-box">
              <img src="http://demo.wpcrunchy.com/simplybiz/wp-content/uploads/sites/8/2012/12/48_structure.png" class="content-box-icon" alt="Icon">
              <h3 class="content-box-title">Tabla Simbolos</h3>
              <span class="content-box-tagline">Add short tagline here</span>
              <div class="content-box-text">
                <textarea #textArea id="textAreaTablaSimbolos" style="width: 100px; height: 100px;"></textarea>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

</div>


<!--<div class="content">

  <button (click)="cargarTabs()">nueva tab</button>
  <mat-tab-group >
    <mat-tab *ngFor="let i of arrayTabs" label="Pestaña {{i}}"> 
      <div class="block">
        <label id="lbl">Code </label>
        <input type='file' (change)="fileChanged($event)">
        <button (click)="uploadDocument(i)">Cargar doc</button>
      </div>
      
      <div class="content">
        <textarea #textArea id="textArea{{i}}"  style="width: 500px; height: 500px;"></textarea>  
      </div>
      <div class="block">
        <button (click)="enviar(textArea.value)">Analizar</button>
      </div>
      
    
    </mat-tab>
  </mat-tab-group></div>-->


<!--<mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile [colspan]="3" [rowspan]="1" >
      <button (click)="cargarTabs()">nueva tab</button>
      <mat-tab-group >
        <mat-tab *ngFor="let i of arrayTabs" label="Pestaña {{i}}"> 
          <div class="block">
            <label id="lbl">Code </label>
            <input type='file' (change)="fileChanged($event)">
            <button (click)="uploadDocument(i)">Cargar doc</button>
          </div>
          
          <div class="content">
            <textarea #textArea id="textArea{{i}}"  style="width: 500px; height: 500px;"></textarea>  
          </div>
          <div class="block">
            <button (click)="enviar(textArea.value)">Analizar</button>
          </div>
          
        
        </mat-tab>
      </mat-tab-group>
     
    </mat-grid-tile>
  </mat-grid-list>-->





<router-outlet></router-outlet>